/*barra de navegacao*/
nav {

}

.input {
    height: 560px;
    background: var(--base--);
    text-align: center;
  }
  h2{
    font-family: var(--fontePrimary--);
    font-size: 70px;
    padding-top: 150px;
    padding-bottom: 25px;
  }
  
  .inputBox{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--branca--);
      width: 650px;
      height: 55px;
      margin: 0 auto;
      border-radius: 16px;
      position: relative;
  }
  .inputBox > #pesquisa{
      width: 100%;
      height: 100%;
      border-radius: 16px;
      outline: none;
      border: none;
      padding: 12px 22px;
  }
  #buttonSearch{
      position: absolute;
      right: 22px;
      top: auto;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: none;
      color: var(--base--);
  }
  