.modalWindow{
    width: 100%;
    height: 100%;
    background-color: var(--opacity--);
    backdrop-filter: blur(13px);
    position: fixed;
    top: 0%;
    left: 0%;
    display: none;
    align-items: center;
    justify-content: center;
}
.modalWindow.active{
    display: flex;
    animation: camming .3s linear;
}
@keyframes camming {
    from{
      opacity: 0;
    
    }
    to{
        opacity: 1;
      
    }
}
.cadastroContainer{
    padding: 12px;
    background-color: var(--base--);
    position: relative;
    width: calc(100% - 200px);
    height: calc(100% - 100px);
    border-radius: 16px;
    margin: auto;
}
.cadastroContainer > .top{
    padding: 5px;
    height: 33px;
    background-color: var(--branca-2--);
    border-radius: 16px;
}
.closeBtn{
    margin-right: 12px;
    width: 22px;
    height: 22px;
    float: right;
    border-radius: 50%;
    border: none;
    color: var(--base--);
    font-weight: bolder;
    background-color: var(--branca--);
    cursor: pointer;
}.closeBtn:hover{
    color: var(--hover--);
}

/* tela de cadastro */
.FormCadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.inputsArea{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--inputColor--);
    width: calc(100% - 100px);
    height: 400px;
    border-radius: 16px;
}
.box{
    flex: 1;
    display: inline;
}

.box1{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.box1 > .boxImage #inputFile{
    display: none;
}
.box1 > .boxImage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--branca--);
   
}
.box1 > .boxImage label i{
    font-size: 70pt;
    cursor: pointer;
    color: var(--base--);
}.box1 > .boxImage label i:hover{
    color: var(--hover--);
}
.box1 > .boxImage .ckeckImage{
    color: var(--base--);
    font-weight: bold;
    display: none;
}

i{
   color: var(--verde--);
}
.box1 > .boxImage .ckeckImage.active{
    display: block;
}

.boxImage{
    width: 200px;
    height: 200px;
    border-radius: 16px;
    border: 2px solid var(--base--);
}
/* box2 */

.box2{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}
.inputBox2{
    display: flex;
    justify-content: center;
    width: 500px;
    position: relative;
    flex-direction: column;
}
.inputBox2 label{
    color: var(--base--);
    font-weight: bold;
}
.inputBox2 input{
    width: 100%;
    height: 33px;
    border-radius: 8px;
    border: 2px solid var(--base--);
    outline: none;
    background-color: var(--branca-2--);
    font-weight: bold;
    padding: 0 12px;
}
/* box3 */
.box3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    
}
.campos{
 flex: 1;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 12px; 
}
.input label{
    color: var(--base--);
    font-weight: bold;
}
.input input{
    width: 100px;
    height: 33px;
    border-radius: 8px;
    border: 2px solid var(--base--);
    outline: none;
    background-color: var(--branca-2--);
    font-weight: bold;
    padding: 0 12px;

}
.finalizar{
    height: 33px;
    width: 200px;
    border-radius: 8px;
    border: none;
    background-color: var(--base--);
    color: var(--branca--);
    font-weight: bold;
    cursor: pointer;
}.finalizar:hover{
 color: var(--hover--);
}
.buttonCampos{
    padding: 8px 0;
}