@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;1,200&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
* {
  font-family: var(--fontePrimary--);  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variaveis de cores  */
:root{
    --fontePrimary--:'Exo 2', 'Roboto', sans-serif;
    --branca--:#fff;
    --branca-2--:#ffffff6c;
    --base--:#992e1b;
    --darck--:#13121271;
    --opacity--:#0000004d;
    --inputColor--:pink;
    --hover--:#2f92d4;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
    display: block;
}